/************** CLASS ELEMENTS **************/
.bottom-cloud{
    bottom: 300px;
    position: absolute;
    left: 12.5rem;
    top:200px;
}
/*.footer-link{
    font-size: 1.2rem;
}
.contact-me{
    background-color: #DEF5E5;
}
.skills{
    background-color: #DEF5E5;
    width: 50%;
    margin: 6.25rem auto;
}
.skill-images{
    
    width: 25%;
    border-radius: 50%;
    /*float: left;*/
    /*padding: 25px;    */
 /*   margin-right: 1.875rem;
    clear: left;

}

.skill-row{
    background-color: #DEF5E5;
    text-align: left;
    line-height: 2;
}*/
.top-cloud{
    position: relative;
    padding-top: 10px;
    top: 20px;
    left: 21.85rem;
}

.top-container{
    background-color:#DEF5E5;
}



/************** TAGS ELEMENTS **************/
body{
    font-size: 200%;
    text-align: center;
    margin: 0;
}
h1{
    
    font-family: 'Sacramento', cursive;
    /*font-size: 312.5%;*/
    font-size: 5.625rem;
    margin: 0 auto;
    /*margin: 2%;*/
    color: #66BFBF;
    line-height: 2;
    /*
    By default 100% = 16px
    if we want to use for 90px
    Divide (90px/16px) * 100% = x
    */
}

h2{
    font-size: 2.5rem;
    /*font-family: 'Poppins', sans-serif;*/
    color: #66BFBF;
    font-weight: normal;
}

h3{
    font-size: 1.625rem;
    /*font-family: 'Poppins', sans-serif;*/
    color: #40877e;
    font-weight: normal;
    
}


p{
    /*font-family: 'Poppins', sans-serif;*/
    font-size: 1.5625rem;
    
}

/************** IDs ELEMENTS **************
#fatima{
    height: 12.5rem;
    width: 12.5rem;
    
}*/


/*font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Sacramento', cursive;*/