/************** CLASS ELEMENTS **************/
.bottom-cloud{
    bottom: 300px;
    position: absolute;
    left: 12.5rem;
    top:200px;
}
.contact-me{
    background-color: #8EC3B0;
}
.skills{
    background-color: #BCEAD5;
}
.skill-row{
    background-color: #9ED5C5;
}
.top-cloud{
    position: relative;
    padding-top: 10px;
    top: 20px;
    left: 21.85rem;
}

.top-container{
    background-color:#DEF5E5;
}

/************** TAGS ELEMENTS **************/
body{
    font-size: 200%;
    text-align: center;
    margin: 0;
}
h1{
    
    font-family: 'Sacramento', cursive;
    /*font-size: 312.5%;*/
    font-size: 5.625rem;
    margin: 0 auto;
    margin: 2%;
    /*
    By default 100% = 16px
    if we want to use for 90px
    Divide (90px/16px) * 100% = x
    */
}

h2{
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5625rem;
}


/*font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Sacramento', cursive;*/