/**********************Tags Selectors******************/
body{
    background-color:  #ae83c2;
}
hr{
    background-color: #ae83c2;
    border-color: #975dd6;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 5%;
}
h1{
    color: #522de4;
}
h2{
    color: #3828b0;
}
h3{
    color: #0e418e;
}
img:hover{
    background-color: yellow;
}
/**********************Class Selectors******************/
.bacon{
    background-color: green;
}
.broccoli{
    background-color: red;
}

.circular{
    border-radius: 10% 30% 50% 70%;
}
/**********************ID Selectors******************/
#big{
    font-size: 90px;
}
#headding{
    color: yellow;
}